---
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
	description: "Über unsere Initiative und ihre Inspiration",
	title: 'Über uns'
}
---

<PageLayout meta={meta}>
	<div class="max-w-3xl mx-auto text-primary">
		<h1 class="text-4xl font-bold mb-8 text-center">Über uns</h1>
		
		<section class="mb-12">
			<h2 class="text-2xl font-semibold mb-4">Unsere Inspiration</h2>
			<p class="mb-4">
				Unsere Inspiration für diese Initiative ist Seine Heiligkeit Gurudev Sri Sri Ravi Shankar, weltbekannter spiritueller Führer und Friedensbotschafter, und Gründer der Art of Living Foundation (IAOLF) und der International Association of Human Values (IAHV).
			</p>
		</section>

	</div>
</PageLayout>